@model Sample_Web_Project.ViewModel.MailRequest;

@{
    var isMailSent = ViewData["isMailSent"] as string;
}

@if (string.IsNullOrEmpty(isMailSent))
{
    <form action="ForgotPassword" controller="User" method="post">
        <div class="mb-3">
            <label for="toMail" class="form-label" asp-for="ToMail"></label>
            <input asp-for="ToMail" type="text" class="form-control" id="toMail">
            <span asp-validation-for="ToMail" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}
else
{
<h2 class="alert-success">Your password reset mail sent successfuly.Please check your inbox.</h2>
}


