@model Sample_Web_Project.Models.User
@{
    var userId = ViewData["UserId"] as string;
}

<form method="post" action="ResetPassword" controller="User">
    <input asp-for="Id" type="hidden" value="@userId" />

    <div class="mb-3">
        <label for="password" class="form-label" asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" id="password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="confirmPassword" class="form-label" asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirmPassword">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>